<ion-menu
  contentId="menu-content"
  id="main-menu"
  max-edge-start="35"
  menuId="main-menu"
  side="start"
  class="menu"
  type="push">
  <ion-header>
    <ion-toolbar class="menu-header-title">
      <h4 class="ion-text-center">Sergey Yurich</h4>
    </ion-toolbar>
  </ion-header>
  <ion-content class="my-container">
    <ion-menu-toggle auto-hide="false">
    <ion-list lines="all">
      <ion-item
        (click)="p.action ? p.action() : null"
        *ngFor="let p of pages"
                [routerLink]="p.url"
                class="menu-item"
        routerDirection="forward">
        <div class="icons-column">
          <ion-icon size="large" name="{{p.icon}}" class="menu-icon"></ion-icon>
        </div>
        <p class="menu-title">{{ p.title }}</p>
      </ion-item>
    </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
