ion-menu {
  --ion-background-color: var(--custom-menu);

  ion-header {
    --background: transparent;
  }

  ion-toolbar {
    box-shadow: 0 0 20px #00000085;
    --background: transparent;
  }

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
    --border-color: #00000085;
  }

  ion-content {
    --background: transparent;
  }
}

.menu-title {
  margin-left: 10px;
}

.menu-item {
  color: #fac978;
  --color-activated: #fac978;
}

.menu-header-title {
  color: #fdca6c;
}

.menu {
  z-index: 100;
}
