.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
}

.content__actions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__logo {
  z-index: 100;
}

.content__actions__btn{
  width: 180px;
  font-weight: 400;
}

.auth__logo{
  height: 35vh;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__error{
  color: var(--ion-color-primary-shade);
  padding: 0 50px;
  text-align: center;
  max-width: 400px;
}
.form__item{
  display: flex;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 250px;
  background: #d139394a;
  border:2px solid var(--ion-color-primary-shade);
}
.form__item__loader{
  height: 20px;
  color: var(--ion-color-primary-shade);
  margin: auto 7px;
}
.form__item__input{
  border: none;
  background-color: transparent !important;
  flex-grow: 1;
  height: 40px;
  max-width: 81%;
}
.form__item__icon{
  margin: 0 10px 0 10px;
  width: 23px;
  padding: 2px 0;
  color: #ffffff;
}
.form__button{
  width: 170px;
  margin: 10px 0 20px 0;
}
.form__button__text{
  color: white;
}
.form__forgot-password{
  color: #b5b5b5!important;
  text-decoration: underline!important;
}

.social-login{
  position: relative;
}
.social-login__actions{
  display: flex;
  position: initial;
  justify-content: center;
  margin-left: 0;
  margin-top: 0;
}
.social-login__actions > ion-fab-button{
  margin: 0 15px;
}
.social-login__icon{
  color: white;
  font-size: 24px;
}
@-webkit-keyframes autofill {
  0%,100% {
    color: #d0cdcd;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input {
  color: white;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.back-btn {
  z-index: 150;
}

.auth-page {
  height: 100%;
}
