<ion-content>

  <video autoplay class="background-video" loop muted>
    <source src="assets/video/mountain.mp4" type="video/mp4">
  </video>

<div class="content auth-page">
  <div class="content__logo">
    <img
      class="fadein-animation auth__logo"
      [src]="'assets/icons/logobk.svg'"
      alt="">
  </div>

  <div class="content__actions">
    <ion-button
      color="primary"
      (click)="navigateTo('/login')"
      class="content__actions__btn mb-s">
      Sign in
    </ion-button>
    <ion-button
      fill="outline"
      color="primary"
      (click)="navigateTo('/sign-up')"
      class="content__actions__btn">
      Sign up
    </ion-button>
  </div>
</div>
</ion-content>
