<ion-content fullscreen>
<app-user-page-header #profileHeaderComponent
                 [user]="user"
                 [userPageParams]="userPageParams"
></app-user-page-header>
<app-user-page-posts #userPagePostsComponent
                     [postsPage]="postsPage"
                     [posts]="posts"
></app-user-page-posts>
</ion-content>
