<div *ngFor="let post of posts">
    <app-post-preview [post]="post"></app-post-preview>
</div>

<ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
