<ion-header *ngIf="isVisible" mode="ios">
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-btn">
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="app-logo">
      <img class="app-logo__img" src="../../../assets/icons/logotext.svg">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngFor="let item of items"
                  (click)="applyItem(item, $event)">
        <ion-icon class="back__icon"
                name="{{item.icon}}"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
