.app-header {
  font-size: 80%;
  vertical-align: middle;
  --min-height: 9vh !important;
}

.user-menu {
  height: 7vh;
  width: 7vw;
}

.app-logo {
  margin-top: 1vh;
}

.app-logo__img {
  max-width: 150px;
}

.menu-btn {
  color: #000000bf;
}

.back__icon {
  color: #000000bf;
}
