<ion-list *ngFor="let user of users">
    <ion-item lines="none" (click)="userService.toUser(user.ssoId)">
        <ion-avatar slot="start">
            <img [src]="user.avatarPath">
        </ion-avatar>
        <ion-label>
            <h3>{{user.ssoId}}</h3>
            <p>{{user.name}}</p>
        </ion-label>
    </ion-item>
</ion-list>
