.settings-toolbar {
  --border-width: 0 !important;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  padding: 2vh;
}

.backdrop__image {
  max-height: 25vh;
}
