<div>
    <ion-item>
        <ion-label>Profile name</ion-label>
        <ion-input autofocus="true" placeholder="Dimon Tumanov"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Profile url</ion-label>
        <ion-input placeholder="wtepsel"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Profile description</ion-label>
        <ion-textarea spellcheck="true" placeholder="I'm working as a wow mentor"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label>Profile photo</ion-label>
        <div class="avatar" (click)="uploader.click()">
            <div class="profile-image">
                <img
                        alt=""
                        class="avatar__image"
                        src="https://sun9-36.userapi.com/Ogl5cwzWpoifSE1i2aEIIIrD9evZfxb9Ad3LWA/woIVl1eeuEc.jpg">
            </div>
        </div>
        <input hidden type="file" #uploader (change)="uploadFile($event)"/>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Profile background</ion-label>
    </ion-item>
    <ion-item>
        <div (click)="uploader.click()" class="background">
            <img
                    alt=""
                    class="background__image"
                    src="https://images.wallpaperscraft.com/image/forest_sky_fog_mountains_110519_3840x2160.jpg">
        </div>
        <input hidden type="file" #uploader (change)="uploadFile($event)"/>
    </ion-item>
</div>
