<ion-content fullscreen>
    <ion-card class="post-card">
        <ion-card-header class="post-card--header">
            <img class="post-card--image"
                 [src]="post.coverImage"/>
            <ion-item lines="none">
                <img class="post-user-image"
                    [src]="post.owner.avatarPath"/>
                <ion-label>{{post.owner.ssoId}}</ion-label>
                <ion-note class="post-date" color="primary" slot="end">{{dateConverterService.fromNow(post.creationDate)}}</ion-note>
            </ion-item>
            <ion-card-title class="post-card--title">{{post.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="post-card--content">
            {{post.content}}
        </ion-card-content>
        <ion-item lines="none">
            <ion-button (click)="like()" class="like-icon" fill="clear" size="medium">
                <ion-icon *ngIf="liked" name="heart" size="large"></ion-icon>
                <ion-icon *ngIf="!liked" name="heart-outline" size="large"></ion-icon>
            </ion-button>
            <span>{{post.likesCounter}}</span>
            <ion-button (click)="openComments()" class="comment-icon" fill="clear" size="medium">
                <ion-icon name="chatbubble-outline" size="large"></ion-icon>
            </ion-button>
            <span>{{post.commentsCounter}}</span>
        </ion-item>
    </ion-card>

    <!-- Comment -->
    <div class="comments-box">
        <div class="comment">
            <strong>wtepsel</strong>
            <ion-note class="comment-content">first comment</ion-note>
        </div>
        <div class="comment show-all">
            <a (click)="openComments()">show all comments</a>
        </div>
        <div class="comment">
            <strong>wtepsel</strong>
            <ion-note class="comment-content">last 2 comments</ion-note>
        </div>
        <div class="comment">
            <strong>wtepsel</strong>
            <ion-note class="comment-content">@PHBZR privet lol I use Ionic for my training and i would like to know if
                it's possible to create a “space” between two item in a ? Thank for your réponse
            </ion-note>
        </div>
    </div>
    <!-- Comment -->

</ion-content>
