.post-card {
  margin: 0px;
  border-radius: initial;
  box-shadow: none;
}

.post-card--header {
  padding: 0px;
}

.post-date {
  color: #00000054;
  text-transform: lowercase;
}

.post-date, .post-card--title {
  margin-left: 20px;
  margin-right: 10px;
}

.post-user-image {
  height: 30px;
  width: 30px;
  border-radius: 35px;
  margin-right: 10px;
}

.post-card--content {
  padding-bottom: 0;
}

.like-icon {
  margin-right: 0;
  margin-left: 0;
  --padding-start: 0;
  --padding-end: 5px;

}
.comment-icon {
  margin-right: 0;
  margin-left: 0;
  --padding-start: 10px;
  --padding-end: 5px;
}

.show-all {
  margin-left: 40px;
}

.comment-content {
  padding-left: 10px;
}

.comments-box {
  margin-left: 25px;
  margin-right: 25px;
}
