<app-filter-row [colorSchema]="'dark'"></app-filter-row>

<div class="posts_content">
<div class="posts-cards__div" *ngFor="let post of posts">
    <app-post-preview [post]="post"></app-post-preview>
</div>
</div>
