.post-card {
  margin: 0;
  border-radius: initial;
  box-shadow: none;
}

.post-card--header {
  padding: 0;
}

.post-date {
  color: #00000054;
  text-transform: lowercase;
}

.post-date, .post-card--title {
  margin-left: 20px;
  margin-right: 10px;
}

.post-card--title {
  color: #000000ad;
  font-size: 24px;
}

.post-user-image {
  height: 30px;
  width: 30px;
  border-radius: 35px;
  margin-right: 10px;
}

.author-name {
  color: #2b2b2b;
}
