<ion-content fullscreen>
    <div>
        <ion-toolbar class="settings-toolbar" mode="ios">
            <ion-buttons slot="secondary">
                <ion-button color="secondary" (click)="changeSection('person')">
                    <ion-icon slot="icon-only" name="person-outline"></ion-icon>
                </ion-button>
                <ion-button color="secondary" (click)="changeSection('payments')">
                    <ion-icon slot="icon-only" name="card-outline"></ion-icon>
                </ion-button>
                <ion-button color="secondary" (click)="changeSection('creator-starter')">
                    <ion-icon slot="icon-only" name="color-palette-outline"></ion-icon>
                </ion-button>
                <ion-button color="secondary" (click)="changeSection('subscriptions')">
                    <ion-icon slot="icon-only" name="medal-outline"></ion-icon>
                </ion-button>
                <ion-button color="secondary" (click)="changeSection('welcome')">
                    <ion-icon slot="icon-only" name="megaphone-outline"></ion-icon>
                </ion-button>
                <ion-button color="secondary" (click)="changeSection('bank')">
                    <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="primary">
                <ion-button color="secondary" (click)="saveForm()">
                    <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </div>

    <app-settings-person *ngIf="isPerson"></app-settings-person>
    <app-creator-starter *ngIf="isCreatorStarter"></app-creator-starter>
    <app-settings-subscription *ngIf="isSubscriptions"></app-settings-subscription>
    <app-settings-payments *ngIf="isPayments"></app-settings-payments>
    <app-settings-welcome *ngIf="isWelcome"></app-settings-welcome>
    <app-settings-bank *ngIf="isBank"></app-settings-bank>
</ion-content>
