.user-image {
  position: relative;
  display: inline-flex;
  padding: 2px;
  width: 9vh;
  height: 9vh;
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 1;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-image:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: var(--custom-menu);
  z-index: -1;
}

.avatar__col {
  padding-left: 0;
  padding-right: 0;
  text-align: -webkit-center;
}

.recommended_users_row {
  border-bottom: solid 1px #e5e5e5;
}

.user_id {
  margin-bottom: 0;
  margin-top: 1vh;
  font-size: 13px
}

.user_slider {
  height: 14vh;
}

ion-slide {
  width: 25vw !important;
}
