<div class="recommended_users_row">
    <ion-slides tappable [options]="rootSliderOptions" class="user_slider">
        <ion-slide *ngFor="let user of users; let i = index">
            <div class="avatar__col"  (click)="userService.toUser(user.ssoId)">
                <div>
                    <div class="user-image">
                        <img alt="" [src]="user.avatarPath">
                    </div>
                </div>
                <p class="user_id">{{user.ssoId}}</p>
            </div>
        </ion-slide>
    </ion-slides>
</div>
