:root {
  --ion-color-primary: #b43a69;
  --ion-color-primary-rgb: 238,65,65;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #9e335c;
  --ion-color-primary-tint: #bc4e78;

  --ion-color-secondary: #b43a69;
  --ion-color-secondary-rgb: 131,74,96;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #9e335c;
  --ion-color-secondary-tint: #bc4e78;

  --ion-color-tertiary: #ff358e;
  --ion-color-tertiary-rgb: 62,129,94;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #e02f7d;
  --ion-color-tertiary-tint: #ff4999;

  --ion-color-success: #0bfb7d;
  --ion-color-success-rgb: 11,251,125;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #0add6e;
  --ion-color-success-tint: #23fb8a;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #e22553;
  --ion-color-danger-rgb: 226,37,83;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c72149;
  --ion-color-danger-tint: #e53b64;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --custom-menu: linear-gradient(166deg, rgba(180,58,105,1) 0%, rgba(238,65,65,1) 50%, rgba(255,53,142,1) 100%);
}
