<ion-header translucent>
    <ion-toolbar>
        <ion-title>Comments</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img src="https://sun9-10.userapi.com/c845216/v845216019/ad6b0/pAl6Km5H9R8.jpg"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Maestro_Panasenkov</h2>
                <p>Стыдно за парней!</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img src="https://sun9-15.userapi.com/awwVZ7u43Oc-ox4qtZJ98bSYb3xnCbAUR0KAkA/JSa7sNjXNYQ.jpg"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Alexey_Navalnyi</h2>
                <p>Привет! Это Навальный!</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img src="https://sun9-69.userapi.com/c854124/v854124667/20392b/cfOk3o8c-9Y.jpg"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>Mad</h2>
                <p class="comment-text">Ребятки молодцы! Достойное продолжение моего видео с торотом</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<app-new-comment></app-new-comment>
