.settings-toolbar {
  --border-width: 0 !important;
}

.fab-add-btn {
  margin-bottom: 8vh;
}

.card-title {
  padding-top: 0;
}

.subscriptions-number {
  margin-right: 4px;
}

.features-header {
  padding-bottom: 0;
}

.features-list {
  margin-bottom: 2vh;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  padding: 2vh;
}
