<ion-app>

  <app-header *ngIf="globals.isAuthenticated"></app-header>
  <app-menu></app-menu>
  <div>
    <ion-router-outlet [swipeGesture]="false" [ngClass] ="globals.isAuthenticated && isHeaderVisible ? 'headerAndFooter' : ''"  class="menu-content" id="menu-content">
    </ion-router-outlet>
  </div>
  <app-footer *ngIf="globals.isAuthenticated"></app-footer>

</ion-app>
