.login__logo {
  margin: 50px 0;
}

.login__logo > img {
  height: 115px;
  margin: 0 auto;
  display: block;
  min-height: 120px;
}

.social-login__actions {
  margin-top: 20px !important;
}

.login {
  z-index: 100;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.5);
}
