<ion-content>

  <video autoplay class="background-video" loop muted>
    <source src="assets/video/mountain.mp4" type="video/mp4">
  </video>
  <ion-button (click)="back()" color="primary" class="back-btn" fill="clear">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
<div class="content" >

<div class="login">
  <div class="login__logo">
    <img
      [src]="'assets/icons/logobk.svg'"
      alt="">
  </div>

  <div class="login__form">

    <form
      class="form"
      [formGroup]="loginForm"
      role="form">

      <div class="form__item">
        <ion-icon size="large"  class="form__item__icon" name="person"></ion-icon>
        <input
          class="form__item__input"
          type="username"
          placeholder="{{'Username'}}"
          id="username"
          name="username"
          formControlName="username"/>
      </div>

      <div class="form__item">
        <ion-icon size="large"  class="form__item__icon" name="lock-closed"></ion-icon>
        <input
          class="form__item__input"
          formControlName="password"
          type="password"
          placeholder="{{'Password'}}"
          id="password"
          name="password"/>
      </div>

      <div *ngIf="app.isWrongPassword" class="form__error">Username or password is wrong</div>

      <ion-button
        class="form__button"
        [disabled]="loginForm.invalid"
        color="primary"
        (click)="login()">
        <span
          class="form__button__text"
          >
          Sign in
        </span>
      </ion-button>

      <a
        routerLink="/forgot-password"
        class="form__forgot-password"
        >
        Forgot password?
      </a>

    </form>


  </div>

  <div class="social-login">

<!--    <ion-fab class="social-login__actions"  vertical="bottom" horizontal="center">-->
<!--      <ion-fab-button (click)="loginWithGoogle()">-->
<!--        <i class="fa fa-google-plus fa-sm social-login__icon"></i>-->
<!--      </ion-fab-button>-->
<!--      <ion-fab-button (click)="loginWithFb()">-->
<!--        <i class="fa fa-facebook fa-sm social-login__icon"></i>-->
<!--      </ion-fab-button>-->
<!--      <ion-fab-button (click)="loginWithAppleID()">-->
<!--        <i class="fa fa-apple fa-sm social-login__icon"></i>-->
<!--      </ion-fab-button>-->
<!--    </ion-fab>-->


  </div>


</div>
</div>
</ion-content>
