<ion-card (click)="postService.toPost(1)" class="post__card">
    <ion-card-header class="post-card__header">
        <img class="cover-img" [src]="post.coverImage"/>
        <ion-item lines="none">
            <img class="post-user__image"
                 [src]="post.owner.avatarPath">
            <ion-label class="author-name">{{post.owner.ssoId}}</ion-label>
            <ion-note class="post-date" slot="end">{{dateConverterService.fromNow(post.creationDate)}}</ion-note>
        </ion-item>
        <ion-card-title class="post__card__title">{{post.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="post__card__content">
        {{post.content}}
    </ion-card-content>
</ion-card>
