<div class="profile__header ion-text-center" *ngIf="user">
  <div
    class="backdrop">
    <img
      alt=""
      class="backdrop__image"
      [src]="user.profilePhoto"/>
  </div>

  <div class="avatar">
    <div class="profile-image">
      <img
        alt=""
        class="avatar__image"
        [src]="user.avatarPath"/>
    </div>
  </div>

  <div class="user-name">
    <ion-grid class="user-info">
      <ion-row>
        <ion-col size="12" class="user-info__col">
          <div>
            <h4 class="user-name">{{user.name}}</h4>
            <p class="user-tag">@{{user.ssoId}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="user-name">
    <ion-grid class="user-info info-buttons">
      <ion-row>
        <ion-col size="6">
          <ion-button *ngIf="userPageParams && userPageParams.isCurrentUserPage" (click)="openUserSettings()" size="small" class="user-actions-btn">Edit</ion-button>
          <ion-button *ngIf="userPageParams && !userPageParams.isCurrentUserPage && !userPageParams.isFollowed" size="small" class="user-actions-btn">Follow</ion-button>
          <ion-button *ngIf="userPageParams && !userPageParams.isCurrentUserPage && userPageParams.isFollowed"  size="small" class="user-actions-btn">Followed</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button *ngIf="userPageParams && userPageParams.isCurrentUserPage && !userPageParams.isCreator" (click)="becomeCreator()" size="small" class="user-actions-btn">Become Creator</ion-button>
          <ion-button *ngIf="userPageParams && userPageParams.isCurrentUserPage && userPageParams.isCreator" size="small" class="user-actions-btn">Creator Settings</ion-button>
          <ion-button *ngIf="userPageParams && !userPageParams.isCurrentUserPage && userPageParams.isCreator && !userPageParams.isSubscribed" size="small" class="user-actions-btn">Subscribe</ion-button>
          <ion-button *ngIf="userPageParams && !userPageParams.isCurrentUserPage && userPageParams.isCreator && userPageParams.isSubscribed" size="small" class="user-actions-btn">Subscribed</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid class="user-info info-numbers">
      <ion-row>
        <ion-col size="4" class="info-numbers__col">
          <ion-row>
            <ion-col size="5" class="info-icon">
              <ion-icon name="people-outline"></ion-icon>
            </ion-col>
            <ion-col size="7" class="info-count">
              <p class="user-info-value">{{user.followersCount | shortNumber}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4" class="info-numbers__col">
          <ion-row>
            <ion-col size="5" class="info-icon">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-col>
            <ion-col size="7" class="info-count">
              <p class="user-info-value">{{user.likesCount | shortNumber}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4" class="info-numbers__col">
          <ion-row>
            <ion-col size="5" class="info-icon">
              <ion-icon name="eye-outline"></ion-icon>
            </ion-col>
            <ion-col size="7" class="info-count">
              <p class="user-info-value">{{user.viewsCount | shortNumber}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
