ion-text {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.backdrop {
  position: absolute;
  top: 0;
  display: table;
  margin: 0 auto;
}

.backdrop__image {
  min-height: 40vh;
  max-height: 40vh;
  width: 100%;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  padding: 2vh;
}

.user-info {
  width: 100%;
  color: #ffffff;
}

.info-buttons {
  margin-top: 1vh;
  height: 5vh;
}

.info-numbers {
  font-size: 5vw;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  height: 5vh;
}

.user-name {
  font-size: 3vh;
}

.user-tag {
  font-size: 2vh;
}

.user-info__col, .user-name, .user-tag {
  padding: 0;
  margin: 0;
}

.user-info-title {
  margin-bottom: 0;
}

.user-info-value {
  margin-top: 5px;
  //padding-right: 5vw;
}

.info-icon {
  margin-top: 6px;
  padding-right: 0;
}

.user-actions-btn {
  --border-style: solid;
  --border-color: rgba(255, 255, 255, 0.52);
  --border-width: 1px;
  --background: #0000002e;
  width: 35vw;
  --background-activated: #00000069;
}

.info-numbers__col {
  padding-top: 2vh;
}

.profile__header {
  height: 40vh;
}

.info-count {
  padding-left: 0;
}
