.cam-header, .cam-footer {
  background: transparent;
  position: absolute;
  color: white;
}

.cam-header {
  top: 1vh;
}

.cam-footer {
  bottom: 3vh;
}

.mock_camera {
  height: 100vh;
}

.cam-footer__row {
  text-align: center;
}

.cam-header__toolbar {
  --background: transparent;
  --border-style: none;
}

ion-button {
  --color: white;
  --background: #0000000f;
  --background-activated: #0000000f;
  --color-activated: rgba(208, 207, 207, 0.72);
}

.start-btn {
  margin-left: 3vw;
}

.end-btn {
  margin-right: 3vw;
}
