<ion-header class="cam-header" mode="ios">
    <ion-toolbar class="cam-header__toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="cancel()" class="start-btn">
                Cancel
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="next()" class="end-btn">
                Next
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <img class="mock_camera"
         src="https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
</ion-content>
<ion-footer class="cam-footer">
    <ion-row class="cam-footer__row">
        <ion-col>
            <ion-button>
                Live
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button>
                Photo
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button>
                Video
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
