<ion-header class="cam-header" mode="ios">
    <ion-toolbar class="cam-header__toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="cancel()" class="start-btn">
                Cancel
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="save()" class="end-btn">
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div>
        <ion-button fill="clear" class="slider-arrow slider-arrow-left">
            <ion-icon class="slider-icon" name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="slider-arrow slider-arrow-right">
            <ion-icon class="slider-icon" name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
        <ion-icon *ngIf="!this.isCover" (click)="setCover()" class="set-cover-img" name="star-outline"></ion-icon>
        <ion-icon *ngIf="this.isCover" (click)="setCover()" class="cover-img" name="star"></ion-icon>
        <img
                alt=""
                class="backdrop__image"
                [src]="postCoverImage"/>
    </div>
    <div>
        <ion-row class="ion-text-center ">
            <ion-col sizeLg="2" class="btn-border-right btn-col">
                <ion-button fill="clear">
                    <ion-icon name="image-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col sizeLg="2" class="btn-border-right btn-col">
                <ion-button fill="clear">
                    <ion-icon name="film-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col sizeLg="2" class="btn-border-right btn-col">
                <ion-button fill="clear">
                    <ion-icon name="document-text-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col sizeLg="2" class="btn-col">
                <ion-button fill="clear">
                    <ion-icon name="mic-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col sizeLg="2" class="btn-col">
                <ion-button fill="clear">
                    <ion-icon name="list-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col sizeLg="2" class="btn-col">
                <ion-button fill="clear">
                    <ion-icon name="logo-dropbox"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
    <ion-item>
        <ion-input [(ngModel)]="postTitle" placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
        <!--      <ion-label position="floating">Content</ion-label>-->
        <ion-textarea [(ngModel)]="postContent" placeholder="Content" rows="6"></ion-textarea>
    </ion-item>


</ion-content>
