.backdrop__image {
  min-height: 70vh;
  max-height: 70vh;
  width: 100%;
}

ion-col {
  padding: 0;
}

.cam-header, .cam-footer {
  background: transparent;
  position: absolute;
  color: white;
}

.cam-header {
  top: 1vh;
}

.cam-footer {
  bottom: 3vh;
}

.mock_camera {
  height: 100vh;
}

.cam-footer__row {
  text-align: center;
}

.cam-header__toolbar {
  --background: transparent;
  --border-style: none;
}

.start-btn, .end-btn {
  --color: white;
  --background: #0000000f;
  --background-activated: #0000000f;
  --color-activated: rgba(208, 207, 207, 0.72);
}

.start-btn {
  margin-left: 3vw;
}

.end-btn {
  margin-right: 3vw;
}

.slider-arrow {
  position: absolute;
  color: white;
  top: 30vh;
}

.slider-arrow-left {
  left: 0;
}

.slider-arrow-right {
  right: 0;
}

.slider-icon {
  font-size: 3.5vh;
}

.set-cover-img, .cover-img {
  position: absolute;
  top: 64vh;
  font-size: 3vh;
  right: 5vw;
  color: #b43a69;
}
