<ion-content>

  <video autoplay class="background-video" loop muted>
    <source src="assets/video/mountain.mp4" type="video/mp4">
  </video>
  <ion-button (click)="back()" color="primary" class="back-btn" fill="clear">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
<div class="content">
<div class="sign-up__form">

  <div class="sign-up__logo">
    <img
      [src]="'assets/icons/logobk.svg'"
      alt="">
  </div>

  <form
    class="form"
    [formGroup]="signUpForm"
    role="form">

    <div class="form__item">
      <ion-spinner
        *ngIf="isCheckingName"
        class="form__item__loader"
        name="crescent"></ion-spinner>
      <ion-icon *ngIf="!isCheckingName" size="large"  class="form__item__icon" name="person"></ion-icon>
      <input
        (change)="onSsoIdInput()"
        class="form__item__input"
        type="text"
        placeholder="{{'Username'}}"
        id="ssoId"
        name="ssoId"
        formControlName="ssoId"/>
    </div>

    <div class="form__item">
      <ion-spinner
        class="form__item__loader"
        *ngIf="isCheckingEmail"
        name="crescent"></ion-spinner>
        <ion-icon *ngIf="!isCheckingEmail" size="large" class="form__item__icon" name="mail"></ion-icon>
      <input
        (change)="onEmailInput()"
        class="form__item__input"
        type="email"
        placeholder="{{'Email'}}"
        id="email"
        name="email"
        formControlName="email"/>
    </div>

      <div class="form__item">
          <ion-icon size="large" class="form__item__icon" name="lock-closed"></ion-icon>
          <input
                  class="form__item__input"
                  formControlName="password"
                  type="password"
                  placeholder="{{'Password'}}"
                  id="password"
                  name="password"/>
      </div>

      <div class="form__item">
          <ion-icon size="large"  class="form__item__icon" name="lock-closed"></ion-icon>
      <input
        class="form__item__input"
        formControlName="confirmPassword"
        type="password"
        placeholder="{{'Confirm password'}}"
        id="confirmPassword"
        name="confirmPassword"/>
    </div>


    <p
      class="form__error"
      *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched && signUpForm.get('password')['errors']['pattern']"
      >
      Password must contain one uppercase letter, one lowercase, one digit, one character and be longer then 8 symbols.
    </p>
    <p
      class="form__error"
      *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched && signUpForm.get('password')['errors']['hasCyrillic']"
      >
      Password can only contain latin characters, numbers
    </p>
    <p
      class="form__error"
      *ngIf="signUpForm.get('confirmPassword').invalid && signUpForm.get('confirmPassword').touched && signUpForm.get('confirmPassword')['errors']['matchOther']"
      >
      Your password and confirmation password do notmatch.
    </p>
    <p
      class="form__error"
      *ngIf="errorMsg !== ''"
      >
      {{errorMsg}}
    </p>
    <p
      class="form__error"
      *ngIf="validationData.ssoId"
      >
      {{validationData.ssoId}}
    </p>
    <p
      class="form__error"
      *ngIf="validationData.email"
      >
      {{validationData.email}}
    </p>

    <div class="policy__agree" ><span>By clicking Sign Up, Google or Facebook buttons, you agree to our </span> <a href="/terms">Terms and Conditions</a>, <span></span>and <a href="/policy">Privacy Policy</a>.</div>

    <ion-button
      class="form__button"
      [disabled]="signUpForm.invalid || validationData.ssoId !== null || validationData.email !== null"
      color="primary"
      (click)="signUp()">
        <span
          class="form__button__text">
          Sign up
        </span>
    </ion-button>

  </form>


</div>

<div class="social-login">

<!--  <ion-fab class="social-login__actions"  vertical="bottom" horizontal="center">-->
<!--    <ion-fab-button (click)="loginWithGoogle()">-->
<!--      <i class="fa fa-google-plus fa-sm social-login__icon"></i>-->
<!--    </ion-fab-button>-->
<!--    <ion-fab-button (click)="loginWithFb()">-->
<!--      <i class="fa fa-facebook fa-sm social-login__icon"></i>-->
<!--    </ion-fab-button>-->
<!--    <ion-fab-button (click)="loginWithAppleID()">-->
<!--      <i class="fa fa-apple fa-sm social-login__icon"></i>-->
<!--    </ion-fab-button>-->
<!--  </ion-fab>-->


</div>
</div>
</ion-content>
