.sign-up__logo{
  margin: 20px 0;
}
.sign-up__logo > img{
  height: 68px;
  margin: 0 auto;
  display: block;
  min-height: 120px;
}

.policy__agree{
  font-size: 0.7em;
  text-align: center;
  width: 100%;
  max-width: 550px;
  padding: 0 20px 10px 20px;
}

.sign-up__form {
  z-index: 100;
  color: #d0cdcd;
}
::-webkit-input-placeholder { /* Edge */
  color: #d0cdcd;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d0cdcd;
}

::placeholder {
  color: #d0cdcd;
}
