.feed-post__card {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  height: 100%;
}

.feed-post__column {
  padding: 0 1px;
}

.settings-toolbar {
  --border-width: 0 !important;
}

.feed-post__img {
  width: 100%;
  height: 110px;
}

.posts__grid {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}
