<ion-grid class="posts__grid">
    <ion-row>
        <ion-col size="4" class="feed-post__column" *ngFor="let post of posts">
            <ion-card class="feed-post__card" (click)="postService.toPost(post.id)">
                <img class="feed-post__img"
                     [src]="post.coverImage"/>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
