<ion-content fullscreen>
  <ion-refresher (ionRefresh)="doRefreshContent($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-post-tape [posts]="posts"></app-post-tape>

</ion-content>
