.after-header-btns {
  color: #383838bd;
}
.btn-border-right {
  border-right: 1px solid #e5e5e5;
}

.btn-col {
  padding: 0;
}

ion-col {
  padding-top: 0;
  padding-bottom: 0;
}

.filter-row {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
