<div>
    <ion-row class="ion-text-center filter-row">
        <ion-col size="3" class="btn-border-right btn-col">
            <ion-button fill="clear" [ngClass]="colorSchema === 'dark' ? 'after-header-btns': ''">
                <ion-icon name="image-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="3" class="btn-border-right btn-col">
            <ion-button fill="clear" [ngClass]="colorSchema === 'dark' ? 'after-header-btns': ''">
                <ion-icon name="film-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="3" class="btn-border-right btn-col">
            <ion-button fill="clear" [ngClass]="colorSchema === 'dark' ? 'after-header-btns': ''">
                <ion-icon name="flash-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="3" class="btn-col">
            <ion-button fill="clear" [ngClass]="colorSchema === 'dark' ? 'after-header-btns': ''">
                <ion-icon name="mic-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</div>
