<ion-content fullscreen>
    <ion-searchbar (ionChange)="searchInputHandler($event.detail.value)" animated></ion-searchbar>
    <div class="content">
        <app-user-recommendations [users]="recommendedUsers"></app-user-recommendations>

        <app-filter-row></app-filter-row>

        <app-posts-grid [posts]="posts" *ngIf="!isSearch"></app-posts-grid>
        <app-search [users]="foundedUsers" *ngIf="isSearch"></app-search>
    </div>
</ion-content>
