.new-comment-footer {
  border-top: solid 1px;
  border-color: #eaeaea;
}
.comment-input-column {
  padding-left: 5vw;
}
.comment-send-icon-column {
  padding-left: 2px;
  color: #ee4141!important;
}

.post-comment-icon {
  margin-top: 3px;
}
