<ion-footer class="new-comment-footer">
    <ion-grid>
        <ion-row>
            <ion-col size="10" class="comment-input-column">
                <ion-input type="text" placeholder="Type a message" name="message"></ion-input>
            </ion-col>
            <ion-col class="comment-send-icon-column ion-text-center" size="2" (click)="addComment()">
                <ion-icon size="large" class="post-comment-icon" name="paper-plane-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
