<ion-tab-bar *ngIf="isVisible">
    <ion-tab-button class="tab-btn" (click)="tabAction(0)">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-btn" (click)="tabAction(1)">
        <ion-icon name="compass-outline"></ion-icon>
        <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-btn" (click)="tabAction(2)">
        <ion-icon color="primary" class="add-btn" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-btn" (click)="tabAction(3)">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notifications</ion-label>
        <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button class="tab-btn" (click)="tabAction(4)">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>About</ion-label>
    </ion-tab-button>
</ion-tab-bar>

